In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive

drive.mount('/content/gdrive')
data = pd.read_csv('/content/gdrive/My Drive/SAMPLE_P47_SHOT_DATA.csv')
data.dropna(inplace = True)

Mounted at /content/gdrive

In [3]:
data.head()

,PLANT,MACHINENAME,TOOLNUMBER,PRODUCTIONRUN,PARTNUMBER,SERIALNUMBER,STOREDDATE,CYCLENUMBER,CYCLETIME,FILLTIME,SCREWPOSITION,CUSHIONSIZE,TRANSITIONPOSITION,TRANSITIONPRESSURE,PEAKPRESSURE,REFILLTIME,ISBADPIECE
0,FR47,111,15422831 PM00 B 0009,2086494,15475295,4798730194,05/30/2018 01:04:27,93555,9.176,0.389,1.32,0.227,0.28,13912,13982,2.460,0
1,FR47,609,12064897 PM00 B 0003,2089203,15336090,4798709333,05/30/2018 01:04:27,11398,15.800,0.587,1.35,0.253,0.28,14543,19891,3.360,0
2,FR47,704,15326056 PMG0 B 0003,2090003,15445019,4798745840,05/30/2018 01:04:00,3288,18.288,0.985,3.14,0.266,0.45,5443,11169,5.644,0
3,FR47,301,15304912 PMUD A 0002,2089627,15304912,4798680963,05/30/2018 01:04:27,14265,16.240,0.773,1.55,0.246,0.32,5939,10116,5.436,0
4,FR47,510,12191648 PMTL A 0004,2088561,13626145,4798708552,05/30/2018 01:04:27,19467,27.984,1.325,3.66,0.245,0.37,7242,11672,9.580,0

In [4]:
len(data)

315837

In [5]:
data.isna().sum()

PLANT                 0
MACHINENAME           0
TOOLNUMBER            0
PRODUCTIONRUN         0
PARTNUMBER            0
SERIALNUMBER          0
STOREDDATE            0
CYCLENUMBER           0
CYCLETIME             0
FILLTIME              0
SCREWPOSITION         0
CUSHIONSIZE           0
TRANSITIONPOSITION    0
TRANSITIONPRESSURE    0
PEAKPRESSURE          0
REFILLTIME            0
ISBADPIECE            0
dtype: int64

In [6]:
data.head()

,PLANT,MACHINENAME,TOOLNUMBER,PRODUCTIONRUN,PARTNUMBER,SERIALNUMBER,STOREDDATE,CYCLENUMBER,CYCLETIME,FILLTIME,SCREWPOSITION,CUSHIONSIZE,TRANSITIONPOSITION,TRANSITIONPRESSURE,PEAKPRESSURE,REFILLTIME,ISBADPIECE
0,FR47,111,15422831 PM00 B 0009,2086494,15475295,4798730194,05/30/2018 01:04:27,93555,9.176,0.389,1.32,0.227,0.28,13912,13982,2.460,0
1,FR47,609,12064897 PM00 B 0003,2089203,15336090,4798709333,05/30/2018 01:04:27,11398,15.800,0.587,1.35,0.253,0.28,14543,19891,3.360,0
2,FR47,704,15326056 PMG0 B 0003,2090003,15445019,4798745840,05/30/2018 01:04:00,3288,18.288,0.985,3.14,0.266,0.45,5443,11169,5.644,0
3,FR47,301,15304912 PMUD A 0002,2089627,15304912,4798680963,05/30/2018 01:04:27,14265,16.240,0.773,1.55,0.246,0.32,5939,10116,5.436,0
4,FR47,510,12191648 PMTL A 0004,2088561,13626145,4798708552,05/30/2018 01:04:27,19467,27.984,1.325,3.66,0.245,0.37,7242,11672,9.580,0

In [7]:
X=data[['CYCLENUMBER','CYCLETIME','FILLTIME','SCREWPOSITION','CUSHIONSIZE','TRANSITIONPOSITION','TRANSITIONPRESSURE','PEAKPRESSURE','REFILLTIME'	]]
X

,CYCLENUMBER,CYCLETIME,FILLTIME,SCREWPOSITION,CUSHIONSIZE,TRANSITIONPOSITION,TRANSITIONPRESSURE,PEAKPRESSURE,REFILLTIME
0,93555,9.176,0.389,1.320,0.227,0.28,13912,13982,2.460
1,11398,15.800,0.587,1.350,0.253,0.28,14543,19891,3.360
2,3288,18.288,0.985,3.140,0.266,0.45,5443,11169,5.644
3,14265,16.240,0.773,1.550,0.246,0.32,5939,10116,5.436
4,19467,27.984,1.325,3.660,0.245,0.37,7242,11672,9.580
...,...,...,...,...,...,...,...,...,...
315832,18916,12.152,0.384,1.025,0.249,0.28,11255,13967,2.624
315833,9320,17.208,1.210,1.640,0.274,0.30,10052,11728,2.252
315834,11360,14.680,0.450,0.770,0.246,0.28,6016,6937,2.068
315835,3896,17.184,1.079,1.740,0.260,0.33,6875,11335,4.368
315836,12320,11.720,0.390,1.045,0.260,0.28,11544,17435,2.888

In [8]:
X.head()

,CYCLENUMBER,CYCLETIME,FILLTIME,SCREWPOSITION,CUSHIONSIZE,TRANSITIONPOSITION,TRANSITIONPRESSURE,PEAKPRESSURE,REFILLTIME
0,93555,9.176,0.389,1.32,0.227,0.28,13912,13982,2.460
1,11398,15.800,0.587,1.35,0.253,0.28,14543,19891,3.360
2,3288,18.288,0.985,3.14,0.266,0.45,5443,11169,5.644
3,14265,16.240,0.773,1.55,0.246,0.32,5939,10116,5.436
4,19467,27.984,1.325,3.66,0.245,0.37,7242,11672,9.580

In [9]:
y=data["ISBADPIECE"]

In [10]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: ISBADPIECE, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [13]:
len(X_train)

252669

In [14]:
!pip install -U scikit-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.1.0)

In [15]:
import sklearn

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [17]:
classifier = RandomForestClassifier(n_estimators=760, random_state=0)

In [18]:
classifier.fit(X_train, y_train)

RandomForestClassifier(n_estimators=760, random_state=0)

In [19]:
y_pred = classifier.predict(X_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [20]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(accuracy_score(y_test, y_pred))

[[62947    22]
 [   21   178]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     62969
           1       0.89      0.89      0.89       199

    accuracy                           1.00     63168
   macro avg       0.94      0.95      0.95     63168
weighted avg       1.00      1.00      1.00     63168

0.9993192755825735

#Test result 99.9%

In [22]:
import pickle

with open('model_pickel','wb') as f:
  pickle.dump(classifier,f)

In [24]:
import pickle

with open('model_pickel','rb') as f:
  mod = pickle.load(f)